/* --- FOOTER --- */

/* Pied de page */

footer {
    background-image: url("images/backgrounds/bg-footer-savoie-ou-bien.jpg");
    background-size: cover;

    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    color: black;
}

/* Lien du pied de page */

footer a {
    color: blue;

    &:hover {
        color: green;
    }
}